body {
  margin: 3rem 10rem 8rem;
  background-color: #FAF8F6;
}

* {
  font-family: 'Roboto', sans-serif;
  color: #442927;
}

header {
  color: #A89899;
}

nav#top-nav {
  margin-bottom: 4rem;
}

nav#top-nav span {
  color: #dad7d4;
}

nav#top-nav ul, nav#bottom-nav ul {
  display:inline;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav#top-nav li, nav#bottom-nav li {
  display: inline;
}

nav#top-nav div.horizontal-bar {
  height: 0.3rem;
  position: relative;
  top: 2.6rem;
  width: 100%;
  height: 0.3rem;
  z-index: -1;
  background-color: #dad7d4;
}

nav#top-nav div.nav-step-with-icon {
  background-color: #dad7d4;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav#top-nav div.nav-step {
  background-color: #dad7d4;
  height: 0.7rem;
  width: 0.7rem;
  border-radius: 0.7rem;
  margin-bottom: 1rem;
}

div.active-step {
  background-color: #442927 !important;
}

span.active-step {
  color: #442927 !important;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

nav#top-nav a {
  position: relative;
  top: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #442927;
}

nav#bottom-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

nav#bottom-nav a {
  height: 4rem;
}

nav#bottom-nav a, nav#bottom-nav li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav#bottom-nav a {
  background-color: #EFECEA;
}

nav#bottom-nav a:first-child {
  border-right: 1px solid #D5CECC;
}

nav#bottom-nav a.borderless {
  border-right: none;
}

nav#bottom-nav a:hover {
  background-color: #442927;
}

nav#bottom-nav a:hover span {
  color: #FDF2E1;
}

nav#bottom-nav a path {
  fill: #442927;
}

nav#bottom-nav a:hover path {
  fill: #FDF2E1;
}

nav#bottom-nav ul {
  margin: 0;
}

button.primary {
  background-color: #F37D59;
  border-radius: 5rem;
  border: none;
  padding: 0.5rem 1.8rem;
  color: white;
}

button.primary:hover {
  cursor: pointer;
}

button.primary.disabled {
  background-color: #E0DEDC;
  color: #1C1B1F;
}

button.primary.disabled:hover {
  cursor: default;
}

.feedback {
  display: none;
  border-radius: 0.3rem;
  background-color: #EFECEA;
  padding: 1rem;
  margin: 1rem 0;
}

div.header-group {
  display: flex;
  align-items:flex-end
}