body{
  background: #FAF8F6;
}

h1 {
padding-top: 0.67rem;
font-size: 2rem;
color: #442927;
}

h2{
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: #442927;
}

p{
  font-size: 1 rem;
  color: #442927;
}

input{
  margin-left: 0.4rem;
  height: 2rem;
  width: 6rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 44rem;
  padding: 0 20%;
}

div#cover{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#cover img {
  width: 120%;
}

div#question {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#description{
  padding-top: 2rem;
}

div#options {
  display: grid;
  grid-template-columns: auto auto;
  align-content:center;
  column-gap: 2rem;
  row-gap: 0.8rem;
  margin-top: 0.4rem;
}

div#options h1{
  font-size: small;
  font-weight:bolder;
  color:#442927;
  padding-top: 0.3rem;
}

div#options p{
  font-size: small;
  color:#442927;
  padding-top: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.6rem;
}

div#options button {
  border: 1px solid white;
  border-radius: 0.67rem;
}

div#options button:hover {
  background-color: #FDF2E1;
}

div#options button.selected {
  background-color: #FDF2E1;
  border: 1px solid #F37D59;
}

div#submit {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

div#feedback {
  align-content: center;
  width: 100%;
  font-size: medium;
  color:#442927;
}